openapi: 3.1.0
info:
  title: iStock API (Getty Images Platform)
  description: |
    iStock content is served from Getty Images' shared API platform.
    Partner integrations authenticate with an API key plus OAuth 2.0 client
    credentials and search/retrieve/download iStock-namespaced creative and
    editorial images and videos. Self-service API access for iStock-only
    accounts is not generally offered; access is granted through Getty's
    developer program.
  version: "3.0"
  contact:
    name: Getty Images Developer Portal
    url: https://developer.gettyimages.com
servers:
  - url: https://api.gettyimages.com/v3
    description: Getty Images / iStock production API
security:
  - apiKey: []
    bearerAuth: []
tags:
  - name: OAuth
    description: OAuth 2.0 token acquisition
  - name: Search
    description: Search creative and editorial assets
  - name: Images
    description: Image metadata retrieval
  - name: Videos
    description: Video metadata retrieval
  - name: Downloads
    description: License and download assets
  - name: Countries
    description: Reference data
paths:
  /oauth2/token:
    post:
      tags: [OAuth]
      summary: Acquire an access token
      description: Acquire an access token using one of the Getty Images API OAuth 2.0 grants (client_credentials or password).
      operationId: createToken
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [grant_type, client_id, client_secret]
              properties:
                grant_type:
                  type: string
                  enum: [client_credentials, password]
                client_id:
                  type: string
                client_secret:
                  type: string
                username:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
  /search/images/creative:
    get:
      tags: [Search]
      summary: Search creative images
      operationId: searchCreativeImages
      parameters:
        - $ref: '#/components/parameters/Phrase'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: sort_order
          in: query
          schema:
            type: string
            enum: [best_match, newest, most_popular]
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageSearchResult'
  /search/images/editorial:
    get:
      tags: [Search]
      summary: Search editorial images
      operationId: searchEditorialImages
      parameters:
        - $ref: '#/components/parameters/Phrase'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageSearchResult'
  /search/videos/creative:
    get:
      tags: [Search]
      summary: Search creative videos
      operationId: searchCreativeVideos
      parameters:
        - $ref: '#/components/parameters/Phrase'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoSearchResult'
  /search/videos/editorial:
    get:
      tags: [Search]
      summary: Search editorial videos
      operationId: searchEditorialVideos
      parameters:
        - $ref: '#/components/parameters/Phrase'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoSearchResult'
  /images:
    get:
      tags: [Images]
      summary: Get metadata for multiple images
      operationId: listImages
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
      responses:
        '200':
          description: Image metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  images:
                    type: array
                    items:
                      $ref: '#/components/schemas/Image'
  /images/{id}:
    get:
      tags: [Images]
      summary: Get image metadata
      operationId: getImage
      parameters:
        - $ref: '#/components/parameters/AssetId'
      responses:
        '200':
          description: Image metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'
        '404':
          $ref: '#/components/responses/NotFound'
  /videos:
    get:
      tags: [Videos]
      summary: Get metadata for multiple videos
      operationId: listVideos
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
      responses:
        '200':
          description: Video metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  videos:
                    type: array
                    items:
                      $ref: '#/components/schemas/Video'
  /videos/{id}:
    get:
      tags: [Videos]
      summary: Get video metadata
      operationId: getVideo
      parameters:
        - $ref: '#/components/parameters/AssetId'
      responses:
        '200':
          description: Video metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Video'
  /downloads/images/{id}:
    post:
      tags: [Downloads]
      summary: License and download an image
      operationId: downloadImage
      parameters:
        - $ref: '#/components/parameters/AssetId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                file_type:
                  type: string
                size:
                  type: string
                product_id:
                  type: integer
                project_code:
                  type: string
      responses:
        '200':
          description: Download response with signed URI
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadResponse'
  /downloads/videos/{id}:
    post:
      tags: [Downloads]
      summary: License and download a video
      operationId: downloadVideo
      parameters:
        - $ref: '#/components/parameters/AssetId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                size:
                  type: string
                product_id:
                  type: integer
                project_code:
                  type: string
      responses:
        '200':
          description: Download response with signed URI
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadResponse'
  /countries:
    get:
      tags: [Countries]
      summary: List countries
      operationId: listCountries
      responses:
        '200':
          description: List of countries
          content:
            application/json:
              schema:
                type: object
                properties:
                  countries:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        name:
                          type: string
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: api-key
      description: API key issued through the Getty Images developer program.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token obtained via /oauth2/token.
  parameters:
    Phrase:
      name: phrase
      in: query
      required: true
      schema:
        type: string
    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
    PageSize:
      name: page_size
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 30
    AssetId:
      name: id
      in: path
      required: true
      schema:
        type: string
  responses:
    NotFound:
      description: Asset not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        ErrorCode:
          type: string
        Message:
          type: string
    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
        token_type:
          type: string
        expires_in:
          type: integer
    Image:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        caption:
          type: string
        asset_family:
          type: string
          enum: [creative, editorial]
        collection_code:
          type: string
        collection_name:
          type: string
        license_model:
          type: string
        max_dimensions:
          type: object
          properties:
            width:
              type: integer
            height:
              type: integer
        display_sizes:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              uri:
                type: string
                format: uri
        download_sizes:
          type: array
          items:
            type: object
        keywords:
          type: array
          items:
            type: object
            properties:
              text:
                type: string
              type:
                type: string
    Video:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        caption:
          type: string
        clip_length:
          type: string
        aspect_ratio:
          type: string
        download_sizes:
          type: array
          items:
            type: object
        thumbnails:
          type: array
          items:
            type: object
    ImageSearchResult:
      type: object
      properties:
        result_count:
          type: integer
        images:
          type: array
          items:
            $ref: '#/components/schemas/Image'
    VideoSearchResult:
      type: object
      properties:
        result_count:
          type: integer
        videos:
          type: array
          items:
            $ref: '#/components/schemas/Video'
    DownloadResponse:
      type: object
      properties:
        uri:
          type: string
          format: uri
          description: Signed download URI (expires in seconds).
        download_credits:
          type: integer
        downloads_remaining:
          type: integer
