openapi: 3.1.0
info:
  title: iStock API (Getty Images Platform) Countries API
  description: 'iStock content is served from Getty Images'' shared API platform.

    Partner integrations authenticate with an API key plus OAuth 2.0 client

    credentials and search/retrieve/download iStock-namespaced creative and

    editorial images and videos. Self-service API access for iStock-only

    accounts is not generally offered; access is granted through Getty''s

    developer program.

    '
  version: '3.0'
  contact:
    name: Getty Images Developer Portal
    url: https://developer.gettyimages.com
servers:
- url: https://api.gettyimages.com/v3
  description: Getty Images / iStock production API
security:
- apiKey: []
  bearerAuth: []
tags:
- name: Countries
  description: Reference data
paths:
  /countries:
    get:
      tags:
      - Countries
      summary: List countries
      operationId: listCountries
      responses:
        '200':
          description: List of countries
          content:
            application/json:
              schema:
                type: object
                properties:
                  countries:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        name:
                          type: string
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: api-key
      description: API key issued through the Getty Images developer program.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token obtained via /oauth2/token.
