openapi: 3.1.0
info:
  title: iStock API (Getty Images Platform) Countries Videos API
  description: 'iStock content is served from Getty Images'' shared API platform.

    Partner integrations authenticate with an API key plus OAuth 2.0 client

    credentials and search/retrieve/download iStock-namespaced creative and

    editorial images and videos. Self-service API access for iStock-only

    accounts is not generally offered; access is granted through Getty''s

    developer program.

    '
  version: '3.0'
  contact:
    name: Getty Images Developer Portal
    url: https://developer.gettyimages.com
servers:
- url: https://api.gettyimages.com/v3
  description: Getty Images / iStock production API
security:
- apiKey: []
  bearerAuth: []
tags:
- name: Videos
  description: Video metadata retrieval
paths:
  /videos:
    get:
      tags:
      - Videos
      summary: Get metadata for multiple videos
      operationId: listVideos
      parameters:
      - name: ids
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      responses:
        '200':
          description: Video metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  videos:
                    type: array
                    items:
                      $ref: '#/components/schemas/Video'
  /videos/{id}:
    get:
      tags:
      - Videos
      summary: Get video metadata
      operationId: getVideo
      parameters:
      - $ref: '#/components/parameters/AssetId'
      responses:
        '200':
          description: Video metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Video'
components:
  parameters:
    AssetId:
      name: id
      in: path
      required: true
      schema:
        type: string
  schemas:
    Video:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        caption:
          type: string
        clip_length:
          type: string
        aspect_ratio:
          type: string
        download_sizes:
          type: array
          items:
            type: object
        thumbnails:
          type: array
          items:
            type: object
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: api-key
      description: API key issued through the Getty Images developer program.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token obtained via /oauth2/token.
