openapi: 3.1.0
info:
  title: iStock API (Getty Platform) Countries Images API
  description: 'iStock content is served from Getty Images'' shared API platform.

    Partner integrations authenticate with an API key plus OAuth 2.0 client

    credentials and search/retrieve/download iStock-namespaced creative and

    editorial images and videos. Self-service API access for iStock-only

    accounts is not generally offered; access is granted through Getty''s

    developer program.

    '
  version: '3.0'
  contact:
    name: Getty Images Developer Portal
    url: https://developer.gettyimages.com
servers:
- url: https://api.gettyimages.com/v3
  description: Getty Images / iStock production API
security:
- apiKey: []
  bearerAuth: []
tags:
- name: Images
  description: Image metadata retrieval
paths:
  /images:
    get:
      tags:
      - Images
      summary: Get metadata for multiple images
      operationId: listImages
      parameters:
      - name: ids
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      responses:
        '200':
          description: Image metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  images:
                    type: array
                    items:
                      $ref: '#/components/schemas/Image'
  /images/{id}:
    get:
      tags:
      - Images
      summary: Get image metadata
      operationId: getImage
      parameters:
      - $ref: '#/components/parameters/AssetId'
      responses:
        '200':
          description: Image metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    AssetId:
      name: id
      in: path
      required: true
      schema:
        type: string
  responses:
    NotFound:
      description: Asset not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Image:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        caption:
          type: string
        asset_family:
          type: string
          enum:
          - creative
          - editorial
        collection_code:
          type: string
        collection_name:
          type: string
        license_model:
          type: string
        max_dimensions:
          type: object
          properties:
            width:
              type: integer
            height:
              type: integer
        display_sizes:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              uri:
                type: string
                format: uri
        download_sizes:
          type: array
          items:
            type: object
        keywords:
          type: array
          items:
            type: object
            properties:
              text:
                type: string
              type:
                type: string
    Error:
      type: object
      properties:
        ErrorCode:
          type: string
        Message:
          type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: api-key
      description: API key issued through the Getty Images developer program.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token obtained via /oauth2/token.
