openapi: 3.1.0
info:
  title: iStock API (Getty Images Platform) Countries OAuth API
  description: 'iStock content is served from Getty Images'' shared API platform.

    Partner integrations authenticate with an API key plus OAuth 2.0 client

    credentials and search/retrieve/download iStock-namespaced creative and

    editorial images and videos. Self-service API access for iStock-only

    accounts is not generally offered; access is granted through Getty''s

    developer program.

    '
  version: '3.0'
  contact:
    name: Getty Images Developer Portal
    url: https://developer.gettyimages.com
servers:
- url: https://api.gettyimages.com/v3
  description: Getty Images / iStock production API
security:
- apiKey: []
  bearerAuth: []
tags:
- name: OAuth
  description: OAuth 2.0 token acquisition
paths:
  /oauth2/token:
    post:
      tags:
      - OAuth
      summary: Acquire an access token
      description: Acquire an access token using one of the Getty Images API OAuth 2.0 grants (client_credentials or password).
      operationId: createToken
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - grant_type
              - client_id
              - client_secret
              properties:
                grant_type:
                  type: string
                  enum:
                  - client_credentials
                  - password
                client_id:
                  type: string
                client_secret:
                  type: string
                username:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
components:
  schemas:
    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
        token_type:
          type: string
        expires_in:
          type: integer
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: api-key
      description: API key issued through the Getty Images developer program.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token obtained via /oauth2/token.
